<div class="main-container">

    <div class="table">

        <table class=" table table-dark">
            <thead>
                <th>Type</th>
                <th>Name</th>
                <th>Description</th>
                <th >Quest rank</th>
                <th>Location</th>
            </thead>
            @for(quest of quests; track quest.id){
            <tr>
                <td>{{quest.type.type}}</td>
                <td>{{quest.name}}</td>
                <td>{{quest.description}}</td>
                <td class="text-center ">{{quest.questRank}}</td>
                <td class="text-center">{{quest.location.name}}</td>

            </tr>
            }

        </table>

    </div>







</div>