table {
    border-radius: 5px;
    border-bottom: none;
}

.main-container {
    padding: 0;
}

th,
tr,
td {
    color: white;
    border-color: white;
    background-color: var(--black-secondary-bg);
    text-align: center;
}

.td-start {
    text-align: start;
}

tr:last-child {
    border: none;
}