.icon {
    display: inline-block;
    width: 170px;
    /* Tamaño de un icono individual */
    height: 170px;
    background-image: url('/assets/img/elementsIcon.png');
    background-repeat: no-repeat;
    transform: translate(10px, 10px);

    transform: scale(0.15) translate(50%, 30%);
    /* Cambia el tamaño al 50% */
    transform-origin: top left;
    margin-top: auto;
    margin-left: auto;
}

.main-container {
    width: 64px;
    height: 64px;
    padding: 0.5rem 0.5rem;

}

.icon-fire {
    background-position: -0 0;
}

.icon-paralysis {
    background-position: -170px 0;
}

.icon-poison {
    background-position: -340px 0;
}

.icon-bleed {
    background-position: 0 -173px;
}

.icon-dragon {
    background-position: -170px -173px;
}

.icon-blast {
    background-position: -340px -173px;
}

.icon-sleep {
    background-position: -580px -173px;
}

.icon-ice {
    background-position: 0 -346px;
}

.icon-water {
    background-position: -170px -346px;
}

.icon-water {
    background-position: -340px -346px;
}

.icon-thunder {
    background-position: -580px -346px;
}





.icon-stun {
    background-position: -3330px 0;
}