<div class="main-container">

    <div class="sharpness-container">
        <div class="red" [NgStyle]="{
            'width': sRed,
        }"></div>
        <div class="orange" [NgStyle]="{
            'width': sOrange,
        }"></div>
        <div class="green" [NgStyle]="{
            'width': sGreen,
        }"></div>
        <div class="blue" [NgStyle]="{
            'width': sBlue,
        }"></div>
        <div class="white" [NgStyle]="{
            'width': sWhite,
        }"></div>
        <div class="purple" [NgStyle]="{
            'width': sPurple,
        }"></div>
    </div>

</div>