/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */
.main-container {
    width: 150px;
    height: 10px;
    display: flex;
    flex-direction: column;
}

.sharpness-container {


    height: 50%;
    display: flex;
}

.sharpness-container>div {
    height: 100%;

}

/* ================================================= */
/* COLORS */
/* ================================================= */
/* Subject to change on the future*/
.red {
    background-color: red;


}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.white {
    background-color: white;
}

.purple {
    background-color: purple;
}

/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width:576px) {}


/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width:768px) {}



/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width:992px) {}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width:1200px) {}