<div class="main-container">
    <div class="sharpness-container">
        <div class="red" [ngStyle]="{
            'width': sRed,
        }"></div>
        <div class="orange" [ngStyle]="{
            'width': sOrange,
        }"></div>
        <div class="green" [ngStyle]="{
            'width': sGreen,
        }"></div>
        <div class="blue" [ngStyle]="{
            'width': sBlue,
        }"></div>
        <div class="white" [ngStyle]="{
            'width': sWhite,
        }"></div>
        <div class="purple" [ngStyle]="{
            'width': sPurple,
        }"></div>
    </div>

    <div class="sharpness-container">
        <div class="red" [ngStyle]="{
                'width': sRedFinal,
            }"></div>
        <div class="orange" [ngStyle]="{
                'width': sOrangeFinal,
            }"></div>
        <div class="green" [ngStyle]="{
                'width': sGreenFinal,
            }"></div>
        <div class="blue" [ngStyle]="{
                'width': sBlueFinal,
            }"></div>
        <div class="white" [ngStyle]="{
                'width': sWhiteFinal,
            }"></div>
        <div class="purple" [ngStyle]="{
                'width': sPurpleFinal,
            }"></div>
    </div>

</div>