/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */
.main-container {
    background-color: var(--black-secondary-bg);
    padding: 1rem 0.5rem
}

.weapon-container {
    background-color: var(--black-secondary-bg);
    color: white;

    border: 0px;

}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-secondary-bg);
    opacity: 0.5;

    /* Oscuridad ajustable */
    z-index: 1;
}


.rarity-container {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.25rem;

}

.card-data {
    height: 100%;
}

.font-size-small {
    font-size: 0.8rem;
}

.vertical-separator {
    width: 1px;
    height: 60px;
    background-color: var(--grey);
}

.rarity1 {
    color: var(--rarity1);
    border-color: var(--rarity1);
}

.rarity2 {
    color: var(--rarity2);
    border-color: var(--rarity2);
}

.rarity3 {
    color: var(--rarity3);
    border-color: var(--rarity3);
}

.rarity4 {
    color: var(--rarity4);
    border-color: var(--rarity4);
}

.rarity5 {
    color: var(--rarity5);
    border-color: var(--rarity5);
}

.rarity6 {
    color: var(--rarity6);
    border-color: var(--rarity6);
}

.rarity7 {
    color: var(--rarity7);
    border-color: var(--rarity7);
}

.rarity8 {
    color: var(--rarity8);
    border-color: var(--rarity8);
}

/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width:576px) {}


/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width:768px) {}



/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width:992px) {}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width:1200px) {}