<div class="main-container">

    <mat-tab-group style="color: white !important;">
        <!-- Tab that shows the weapon details -->
        <mat-tab label="Details">

            <div class="d-flex py-3">
                <div>
                    <img appNoImage src="" alt="Imagen del arma" class="weapon-image">
                </div>
                <div>

                </div>

            </div>

        </mat-tab>
        <!-- Tab that shows the motion values of the weapon type -->
        <mat-tab label="Motion values">


            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 my-3 motion-values-table">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Name Column -->
                <ng-container matColumnDef="name" class="white">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element">{{element.name}} </td>
                </ng-container>

                <!-- Hits Column -->
                <ng-container matColumnDef="hits">
                    <th mat-header-cell *matHeaderCellDef> Hits </th>
                    <td mat-cell *matCellDef="let element">{{element.hits}}</td>
                </ng-container>

                <!-- Stun Column -->
                <ng-container matColumnDef="stun">
                    <th mat-header-cell *matHeaderCellDef> Stun </th>
                    <td mat-cell *matCellDef="let element">{{element.stun}}</td>
                </ng-container>

                <!-- Exhaust Column -->
                <ng-container matColumnDef="exhaust">
                    <th mat-header-cell *matHeaderCellDef> Exhaust </th>
                    <td mat-cell *matCellDef="let element">{{element.exhaust}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>



        </mat-tab>

        <!-- Tab that shows the Weapon tree of the selected weapon -->
        <mat-tab label="Evolution tree">

            <div class="d-flex flex-row gap-0">
                <div class="d-flex flex-column gap-3 py-3">
                    @for(element of indexedWeapons; track $index){
                    <div class="d-flex flex-row gap-3">
                        @for(i of [].constructor($index);track $index){
                        <div class=" icon-size d-flex flex-row"></div>
                        }
                        <div class=" icon-size d-flex flex-row">
                            @if($index != 0){
                            <div class="position-relative icon-size gap-3">
                                <div class="vertical-line"></div>
                                <div class="horizontalV-line"></div>
                            </div>
                            }
                        </div>
                        <div [ngClass]="{'active': element.weapon.id===indexedWeapons[indexedWeapons.length-1].weapon.id}"
                            style="z-index: 1;">
                            <app-weapon-tree-icon [weapon]="element.weapon" />
                        </div>
                    </div>
                    }
                </div>

                <div class="d-flex flex-column py-3 gap-3">
                    @for(weapon of weaponUpgrades; track $index){
                    @for(w of [].constructor(indexedWeapons.length-1);track $index){
                    <div class=" icon-size d-flex flex-row"></div>
                    }
                    <div class="d-flex flex-row">

                        @if($index != 0){
                        <div class="position-relative icon-size">
                            <div class="vertical-line"></div>
                            <div class="horizontalV-line"></div>
                        </div>
                        }@else{
                        <div class="position-relative icon-size">
                            <div class="horizontal-line"></div>
                        </div>
                        }
                        <div>
                            <app-weapon-tree-icon [weapon]="weapon" style="margin-bottom: 1rem;" />
                        </div>
                    </div>
                    }
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>




</div>