/* You can add global styles to this file, and also import other style files */
:root {
    --black-secondary-bg: #1b1b1b;
    --black-terciary-bg: #323232;
    --grey: #4f4c4c;

    --rarity1: rgb(179, 179, 179);
    --rarity2: white;
    --rarity3: #b5d772;
    --rarity4: #5baa79;
    --rarity5: #96d6ef;
    --rarity6: #6764d7;
    --rarity7: #9164e8;
    --rarity8: #f89a63;
}



html,
body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: var(--black-terciary-bg);


}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

h1 {
    font-size: 24px;
    margin: 0;
    padding: 1rem;
    background-color: var(--gris-claro);
    border-radius: 10px;
}

h2 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.main-container {
    padding: 0.5rem;
    border-radius: 15px;
    width: 100%;

}

.star {
    color: yellow;
}

/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */